  .containerShowOrder{
    display: flex;
    flex-direction: row-reverse;
  }
  
  .containerShowOrderSm{
    display: none;
  }
  .columnOrder {
  padding: 10px;
  margin-top: 15px;
  border-radius: 15px 15px 15px 15px;
}

.nameOrder {
  font-size: 10px;
}
.containerOrder {
  padding: 8px 16px;
  list-style-type: none;
  transition: 0.5s;
}

@media (max-width: 800px) {
  .containerShowOrder{
    display: none;
  }
  .containerShowOrderSm{
    display: block;
  }
}

