.iconClickTable {
  color: rgb(153, 153, 153);
}
.styleTextGray {
  color: rgb(179, 179, 179);
}

.trBodyStyle {
  border: 1px solid rgb(196, 196, 196);
}

td {
  padding: 25px;
}

th {
  color: rgb(196, 196, 196);
}

.checkboxStyle {
  width: 25px;
  height: 18px;
}

.containerAddOrderCard {
  background-color: aqua;
  height: 800px;
  width: 1000px;
  left: 200px;
  position: absolute;
}
