.navBarMobile{
  display: none;
}

.navBarMobileContainer{
  display: none;
}
@media only screen and (max-width: 800px) {
  .navBarMobile {
    display: block;
  }
  .btnNavBar{
    font-size: large;
  }
  .navBarMobileContainer{
    display: block;
  }
  .btnNavBar:hover{
    border-color: rgb(175, 199, 179);
    background-color: rgb(225, 237, 223);
    border-radius: 5px;
    color: rgb(147, 189, 150);
  }
  .navBarMobile button.active {
    background-color: rgb(225, 237, 223);
    border-color: rgb(175, 199, 179);
    color: rgb(147, 189, 150);
  }
} 